div.gallery {
    margin: 40px;
    border: 8px solid gainsboro;
    float: left;
    width: 300px;
  }
  
  
  div.gallery img {
    width: 210px;
    height: 200px;
  }
  
  div.desc {
    padding: 30px;
    text-align: center;
  }
  div.head{
    text-align: center;
    font-size: 20px;
    top: -3px;
}
body{
  color: black;
}