.jumbotron {
    background-image: url("../images/photo.jpeg");
    background-size: cover;
    height: 800px;
  }
  #welcome{
      color: white;
      font-weight: bolder;
      text-align: center;
  }
  .card-img-top{
      height: 300px;

  }
  .card{
    padding: 10px;

  }